body{
	background-color:#f5f5f5;
	width:100%;
	height:100px;

}
.top{
	padding:20px 0 0 0;
	width:980px;
	margin:0 auto;
	p{
		padding-top:40px;
		font-size:12px;
		a{
			color: #0078c6;
		}
	}
}

.main{
	margin:10px auto;
	height:550px;
	div.main-contain{
		margin:10px auto;
		background-color:#fff;
		width:980px;
		div.main-l{
			margin-top: 60px;
			margin-left: 90px;
			form.main-l-form{
				width: 430px;
				p{
					padding:15px 0 15px 74px;
					position: relative;
					width: 321px;
					label{
						font:400 14px/36px "宋体";
						margin-left:-74px;
						text-align: right;
						float:left;
						width: 74px;
						height: 36px;
						color:#333;
					}
					input.nor{
						color:#999;
						width:290px;
						height: 30px;
						text-indent: 5px;
						border:1px solid #d2d2d2;
						padding:2px 3px;
						line-height: 30px;
						border-radius: 5px;
						font-size: 12px;
					}
					//打钩
					.gou{
						em{
							width:26px;
							height:26px;
							background:url(../img/ico1.png) 0 0 no-repeat;
							margin-right: 4px;
							position: absolute;
							right:0;
							top:20px;
						}
					}
					b{
						display: block;
						height:10px;
						.onf{
							color:#999;
							font-size: 12px;
							line-height: 0;
						}
						.onb{
							color:#e02f2f;
							font:400 12px/26px "";
						}
					}
				}
				p.xieyi{
					padding:15px 0 15px 74px;
					position: relative;
					width:356px;
					color:#666;
					margin-bottom: 4px;
					font-size: 12px;
					font-weight: 400px;
					input{
						margin-top:-2px;
						font-size: 12px;
						margin:3px 3px 3px 4px;
						float:left;
					}
					b{
						float:left;
						margin-top:3px;
					}
					a{
						color:#666;
					}
					a:hover{
						text-decoration: underline;
					}
				}
				p.sub{
					padding:15px 0 15px 74px;
					position: relative;
					input{
						width:178px;
						border-top: 1px solid #e93a3a;
						border-bottom: 1px solid #e93a3a;
						text-align: center;
						margin-top:1px;
						cursor: pointer;
						background: #ff3b37;
						color:#fff;
						font:400 12px/30px "";
					}
				}
			}
		}
		div.main-r{
			width: 340px;
			padding-right: 120px;
			padding-top:60px;
			div.main-r-wrap{
				height:420px;
				border:1px solid #e5e5e5;
				position: relative;
				padding:38px 0 20px;
				width:378px;
				margin-left:30px;
				margin-bottom: 10px;
				div.main-r-t{
					div.main-r-qq{
						position:relative;
						left:-20px;
						top:-67px;
						margin-top: 96px;
						padding-left: 50px;
						p.line{
							border-top: 1px solid #ebebeb;
							margin-top:-12px;
							z-index:1;
						}
						h2{
							text-align:center;
							padding-top: 10px;
							line-height: 20px;
							font:200 12px/20px "";
							color: #666;
							z-index:10;
							background:#fff;
						}
						p{
							width:100%;
							padding-top: 15px;
							height: 40px;
							display: relative;
							a{
								width:108px;
								display: inline-block;
								background:#f6f6f6;
								text-align: left;
								margin:10px 0 0 16px;
								border:1px solid #d5d5d5;
								i{
									font:400 14px/30px "";
									background:#f6f6f6;
									padding-left: 40px;
									height: 30px;
									display: inline-block;
									padding-right: 5px;
									background:#f6f6f6 url(../img/ico2.png) no-repeat 0 0;

								}
							}
							a:hover{
								border-top: 1px solid  #e5e5e5;
								border-bottom: 1px solid #e5e5e5;
								background:rgba(255,255,255,.3);
							}

							a.qq{
								cursor: pointer;								
								i{
									width: 59%;
									color:#666;
									background-position: 0 -2px;
								}
							}
							a.baidu{
								cursor:pointer;
								i{
									width:58%;
									background-position: 0 -36px;
									color:#666;
								}
							}
							//三角形显示

							b.more{
								cursor:pointer;
								top:42px;
								position: absolute;
								width:44px;
								float:left;
								display: inline-block;
								margin:10px;
								color: #999;
								span{
									font-size: 12px;
									float: left;
									display:inline-block;

								}
							
							
							span.sanjiao{
								font-size: 12px;
								float:left;
								display: inline-block;
								background: url(../img/j.png) no-repeat 0 -21px;
								width:9px;
								height: 6px;
								text-indent: -900px;
								overflow: hidden;
								margin:5px;
								margin-top:3px;
							}
							span.dingwei{
								background-position:0 0;
							}
							

							}
						}						
						p.morelg{
							display: none;
							padding-top:8px;
							height: 40px;
							a.renren{
								cursor: pointer;								
								i{
									width: 59%;
									color:#666;
									background-position: 0 -142px;
								}
							}
							a.taobao{
								cursor: pointer;								
								i{
									width: 58%;
									color:#666;
									background-position: 0 -107px;
								}	
							}
						}
					}	
				}		
			}
		}
	}
}
//footer
.footer{
	padding:10px 0 30px 0;
	background: #fff;
	width:100%;
	p{
		text-align: center;
		color:#999;
		font-size: 12px;
		line-height: 32px;
		a{
			color:#999;
			font-size: 12px;
			
		}
		a:hover{
			text-decoration: underline;
		}
	}
	p.footer-p1{
		a{
			padding-right:10px;
		}
		span{
			padding-right:10px;
		}
	}
	p.p3{
		a.f1{
			background: url(../img/footer1.jpg);
			width:30px;
			height:28px;
			background-size: 30px 28px;
			display: inline-block;
			margin-right:10px;
			//float:left;
		}
		a.f2{
			background: url(../img/footer2.png) -886px -626px no-repeat;
			width:70px;
			height:26px;
			display: inline-block;
			margin-right:10px;
			//float: left;
		}
		a.f3{
			background: url(../img/footer2.png) -885px -699px no-repeat;
			width:70px;
			height:26px;
			display: inline-block;
			//float:left;
		}
			
	}
}
